body{
  margin: 0;
  height: 100%;
}

.header{
  padding: 15px 0;
  background-color: #ffffff;
}

.header-content{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
  height: 70px;
}

.logo-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  width:1000%;
}

.logo-content-img{
  border: solid 0px #42515f;
}

.AddressBook-text{
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 0px;
  color:#82a70c;
  text-transform:capitalize;
}

.addressBook-book{
  color: #42515f;
}

*{
  box-sizing:border-box;
}