<div class="form-content">
    <form #myForm="ngForm"  novalidate>
      <div class="form-head">
<div class="form-content">
    <div class="form-content">
        <form class ="form" action ="#" (ngAdd) = "onAdd()">
            <h3> Add Person Details</h3>
            <div class="row-content">
                <input type="text" class="input" pattern="^[A-Z]{1}[a-zA-Z\s]{2,}$" id="firstName" #firstName="ngModel" name="FirstName" placeholder="Your first name.."  required [(ngModel)]="person.FirstName">
          <span class="error" *ngIf="firstName.errors?.['pattern']"><h5>First Name is Invalid </h5></span> 
            </div>

            <div class="row-content">
                <input type="text" class="input" pattern="^[A-Z]{1}[a-zA-Z\s]{2,}$" id="LastName" #lastName="ngModel" name="LastName" placeholder="Your last name.."  required [(ngModel)]="person.LastName">
          <span class="error" *ngIf="lastName.errors?.['pattern']"><h5>Last Name is Invalid </h5></span> 
            </div>

            <div class="row-content">
                <label for="email" class="label text">Email</label>
                <br>
                <input type="text" class="input" Email id="Email" #email="ngModel" name="Email" placeholder="Your Email Id..." required [(ngModel)]="person.Email">
                <span class="error" *ngIf="email.errors?.['email']"><h5>Email is Invalid </h5></span> 
              </div>

                <div class="row-content">
                    <div class="column-constrains">
                      <div class="column-content">
                        <label for="City" class="label text">City</label>
                        <br>
                        <select name="City" id="City" #City="ngModel"  required [(ngModel)]="person.City">
                            <option selected value="default">Select City</option>
                            <option value="Gwalior">Gwalior</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Pune">Pune</option>
                            <option value="Surat">Surat</option>
                          </select>
                    </div>

                    <div class="column-content">
                      <label for="state" class="label text">State</label>
                      <br>
                      <select name="State" id="State" #state="ngModel"  required [(ngModel)]="person.State">
                        <option selected  value="default">Select State</option>
                        <option value="MadhyaPradesh">Madhya Pradesh</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                     </select>
                     
                    </div>
                    <div class="column-content">
                      <label for="zip" class="label text">Zip code</label>
                      <input type="text" class="input zipcode" id="zip" pattern="^[1-9]{1}[0-9]{5}$"#zip="ngModel" name="zip"  placeholder="Your zipcode.." required [(ngModel)]="person.Zip"> >
           </div>
                      <br>
                      <div class="row-content">
                        <label for="phoneNumber" class="label text">Phone Number</label>
                        <br>
                        <input type="tel" class="input" id="phoneNumber" pattern="^[1-9]{1}[0-9]{9}$" #number="ngModel" name="phoneNumber" placeholder="Your phone number.."
                        required [(ngModel)]="person.Phone">
                       <span class="error" *ngIf="number.errors?.['pattern'] && number.touched"><h5>Phone Number should be of 10 digits </h5></span>
                        >
            
        </div>
                        <div class="buttons-contact">
                            <button type="button" class="button button-update" id="updateButton" *ngIf='this.Id!==null' (click)="onupdate()">update</button>
                            <button type="button" class="button button-submit" id="submitButton" *ngIf='this.Id==null' (click)="onAdd()">Add</button>
                          <button type="button" class="button button-cancel" id="cancelButton"(click)="onDashboard()">Cancel</button>
                            
                          </div>
                        </div>
